@{
    Layout = null;
}
@{
    ViewBag.Title = "Kennwortbestätigung vergessen";
}
@Styles.Render("~/Content/csstheme")
@Scripts.Render("~/bundles/modernizr")
    <body class="hold-transition login-page">
        <div class="login-box-iks">
            <div class="login-logo">
                <a href="#"><b>IKS</b>net</a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Kennwortbestätigung vergessen</p>
                <div>
                    <p>
                        Bitte überprüfen Sie Ihre E-Mail, um das Kennwort zurückzusetzen.
                    </p>
                </div>
            </div>
        </div>
    </body>