@{
    ViewBag.Title = "Kennwortbestätigung zurücksetzen";
}
@{
    Layout = null;
}
@Styles.Render("~/Content/csstheme")
@Scripts.Render("~/bundles/modernizr")

<body class="hold-transition login-page">
    <div class="login-box-iks">
        <div class="login-logo">
            <a href="#"><b>IKS</b>net</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Kennwortbestätigung zurücksetzen</p>
            <div>
                <p>
                    Ihr Kennwort wurde zurückgesetzt. Bitte @Html.ActionLink("klicken Sie hier, um sich anzumelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
     </div>
</body>